/* #3BDDF6 ciano */
html {
    font-size: 16px;
  }
  
body{
    background-color: black;
    font-size: 1rem; /* 16px */
    line-height: 1.6;
    font-family: 'roboto', sans-serif;}
nav{
    background-color: black;
    color: white;
}
.logo{
    color: #3BDDF6;
}

.section{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.section1, .section3{
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}
.section1{
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExM2NjcXV6c2c4eTBueTJmOGNydWp6NHdrNHc5dmZuYmFlcmN1amhmMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/69keEWTyGUMU67tppZ/giphy.gif');
}
.section3{
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWtldGtwbTAya2ZjNWZqbHg3MTNqeDI5NTUzMWxuMDdveGM1ZXB3biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iX0aEASQCFxImhSsaX/giphy.gif');
}

.nav-link:hover{
    color: #3BDDF6 !important;
    transition: 0.5s;
}

.orcamentoBtn{
    background-color: #3BDDF6;
    border-radius: 8px;
    padding: 8px;
    margin-right: 10px;
    color: black;
}